version: '3.1'
services:
  database:
    container_name: dev_college_app_database
    image: mongo:3.4.2
    restart: always
    volumes:
      - ./mongo/volume:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
    ports:
      - 4002:27017
  database_manager:
    container_name: dev_college_app_database_manager
    image: mongo-express
    restart: always
    environment:
      ME_CONFIG_MONGODB_SERVER: ${MONGO_URL}
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_USERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_PASSWORD}
      ME_CONFIG_BASICAUTH_USERNAME: ${MONGO_USERNAME}
      ME_CONFIG_BASICAUTH_PASSWORD: ${MONGO_PASSWORD}
    ports:
      - 4001:8081
  backend:
    container_name: dev_college_app_backend
    restart: always
    build: 
      context: go/.
    environment:
      MONGO_URL: ${MONGO_URL}
      MONGO_DATABASE: ${MONGO_DATABASE}
      MONGO_USERNAME: ${MONGO_USERNAME}
      MONGO_PASSWORD: ${MONGO_PASSWORD}
      SECRET_KEY: ${SECRET_KEY}
      ENVIRONMENT: ${ENVIRONMENT}
    depends_on:
      - database
    links:
      - database
    ports:
      - 4000:4000